html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

/*label{*/
/*    display: inline-block;*/
/*    float: left;*/
/*    clear: left;*/
/*    width: 250px;*/
/*    text-align: left; !*Change to right here if you want it close to the inputs*!*/
/*}*/
/*input {*/
/*    display: inline-block;*/
/*    float: left;*/
/*}*/